 /* Split the screen in half */
.split {
	height: auto;
	width: 50%;
	position: fixed;
	z-index: 0;
	/*top: 0;*/
	overflow-x: hidden;
	padding-top: 5px;
	padding-left: 20px;
	padding-right: 20px;
	background-color:#363636;
}

/* Control the left side */
.left {
	left: 0;
	padding-left: 220px;
	width: 17%;
}

/* Control the right side */
.right {
	right: 0;
	width: 72%;
}

.table a {
	color: inherit;
	text-decoration: none;
}



img {
	padding-right: 4px;
	height:1.1em;
}

div .category {
	height:auto;

}

div .border {
	border-style: solid;
	border-color: #000;
}
