body {
	font-family: "Lato", sans-serif;
	background-color: #363636;
	padding-left: 15px;
	color:#dcddde;
}

html {
	background-color: #363636 !important;
	
}

.main {
	margin-left: 190px; /* Same as the width of the sidenav */
	
}

.main p {
	font-size: 20px;
}

.main a {
	color:#00b0f4;
}

.text-quote {
	color:#badcff !important;
	padding-left:25px;
	width: 850px;
	
}


/*
@media screen and (max-height: 450px) {
	.sidenav {padding-top: 15px;}
	.sidenav a {font-size: 18px;}
}
*/

.top-notification {
	color: #f1f1f1;
	background-color:#666;
	z-index:10;
	height:100%;
	font-size:20px;
	padding-left:10px;
}

/* inline images */

.container-header{
    line-height: 1.22;
}


.social_icons {
    padding: .5em;
    display: inline-block;
}


/* Sidenav Stuff */
.sidenav {
	height: 100%;
	width: 200px;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: #151515 !important;
	overflow-x: hidden;
	padding-top: 20px;
}

.sidenav p {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 20px;
	color: #dddddd;
	display: block;
}

.sidenav a {
	padding: 6px 8px 6px 16px;
	text-decoration: none;
	font-size: 25px;
	color: #818181;
	display: block;
}

.sidenav-selected {
	background-color: #222;
}

.sidenav a:hover {
	color: #f1f1f1;
}

